Binaries/
Intermediate/
Saved/
VRGame/VRGame.sln
VRGame/.vs/VRGame/v15/.suo
VRGame/.vs/VRGame/v15/Solution.VC.db-wal
VRGame/.vs/VRGame/v15/Solution.VC.db-shm
VRGame/.vs/VRGame/v15/Browse.VC.db
VRGame/.vs/VRGame/v15/Solution.VC.db
VRGame/.vs/VRGame/v15/Browse.VC.opendb
VRGame/.vs/VRGame/v15/ipch/AutoPCH/5b8b07150c36980/VRCHARACTER.ipch
