Binaries/
Intermediate/
Saved/
Cholas/.vs/Cholas/v15/Browse.VC.db
Cholas/.vs/Cholas/v15/.suo
Cholas/.vs/Cholas/v15/ipch/AutoPCH/c0840dac948520be/VRCHARACTER.ipch
Cholas/Cholas.sln
Cholas/.vs/Cholas/v15/Browse.VC.opendb
