Binaries/
Intermediate/
Saved/
Cholas/.vs/Cholas/v15/Browse.VC.db
Cholas/.vs/Cholas/v15/.suo
Cholas/.vs/Cholas/v15/ipch/AutoPCH/c0840dac948520be/VRCHARACTER.ipch
Cholas/Cholas.sln
Cholas/.vs/Cholas/v15/Browse.VC.opendb
Cholas/Content/Assets/Audio/Blueprint_Music_Stealth01.uasset
Cholas/Content/Assets/Audio/
Cholas/Content/Assets/
Cholas/Content/VirtualReality/Materials/
Cholas/.vs/Cholas/v15/Solution.VC.db-wal
Cholas/.vs/Cholas/v15/Solution.VC.db
Cholas/.vs/Cholas/v15/Solution.VC.db-shm
Cholas/.vs/Cholas/v15/ipch/AutoPCH/a1b2e380bd209a0f/CONTROLRIGEDITORMODULE.ipch
Cholas/Content/Maps/BlueprintOffice_BuiltData.uasset
Cholas/Content/Maps/BlueprintOffice.umap
